<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<!--CL3D-->
	<script type="text/javascript" src="copperlichtdata/script/cl3dnamespace.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/debug.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/ccfileloader.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/core.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/flacetimer.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/vect3df.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/vect2df.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/box3df.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/plane3d.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/triangle3df.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/matrix4.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/quaternion.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/viewfrustrum.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/s3dvertexunified.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/texture.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/material.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/meshbuffer.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/mesh.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/skinnedmesh.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/action.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/texturemanager.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/binarystream.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/renderer.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/scenenode.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/meshscenenode.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/camerascenenode.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/skyboxscenenode.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/cubescenenode.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/billboardscenenode.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/particlesystemscenenode.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/lightscenenode.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/pathscenenode.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/overlay2dscenenode.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/mobile2dinputnode.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/hotspotscenenode.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/watersurfacescenenode.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/animatedmeshscenenode.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/animator.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/animatorcamerafps.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/animatorcameramodelviewer.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/animatorfollowpath.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/animatorflycircle.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/animatorflystraight.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/animatorrotation.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/animatoranimatetexture.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/animatoronclick.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/animatoronmove.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/animatoroncollide.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/animatorcollisionresponse.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/animatorscoppercubeprivate.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/flace.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/flacescene.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/flacepanoramascene.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/flacefree3dscene.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/flaceloader.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/scriptinginterface.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/flacedocument.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/base64.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/triangleselector.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/soundmanager.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/soundscenenode.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/jsinflate.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/publicsymbols.js"></script>
	<!--CreateJS-->
	<script type="text/javascript" src="copperlichtdata/script/createjs/preloadjs.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/createjs/easeljs.js"></script>
	<!--Extern-->
	<!-- <script type="text/javascript" src="copperlichtdata/script/externs/renderstate.js"></script> -->
	<script type="text/javascript" src="copperlichtdata/script/externs/utils.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/externs/cycle.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/externs/html2canvas.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/externs/localforage.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/externs/animatorbehavior.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/externs/frameevent.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/externs/immediateevent.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/externs/filesaver.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/externs/colormatrix.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/externs/simplemesh.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/externs/nvl.js"></script>
	<!--WASM-->
	<!-- <script type="text/javascript" src="copperlichtdata/script/wasm/dist/index.js"></script> -->
	<script type="text/javascript" src="copperlichtdata/script/wasm/fmodstudioL.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/wasm/effekseer.min.js"></script>
	<!-- <script type="text/javascript" async src="copperlichtdata/script/wasm/dist/creaturepack.js"></script> -->
	<!--Module-->
	<script type="text/javascript" async src="copperlichtdata/script/module/globalnamespace.js"></script>
	<script type="module" src="copperlichtdata/script/module/global.mjs"></script>
	<!--CSS-->
	<link rel="stylesheet" href="copperlichtdata/style/text.css">
</head>
<body>
	<div id="root" align="center">
		<canvas id="video" style="position: fixed; left: 0; right: 0; top: 0; bottom: 0; pointer-events: none; opacity: 0;"></canvas>
		<div id="text" class="text-box"></div>
		<canvas id="3darea"></canvas>
	</div>
	<script type="text/javascript" defer src="index.js"></script>
	<!-- <br/>
	<div align="center">
		<small>Created using <a href="http://www.ambiera.com/coppercube/index.html">CopperCube</a></small>
	</div> -->
</body>
</html>