<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<!--CL3D-->
	<script type="text/javascript" src="copperlichtdata/script/cl3dnamespace.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/debug.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/ccfileloader.js"></script>	
	<script type="text/javascript" src="copperlichtdata/script/core.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/flacetimer.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/vect3df.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/vect2df.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/box3df.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/plane3d.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/triangle3df.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/matrix4.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/quaternion.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/viewfrustrum.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/s3dvertexunified.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/texture.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/material.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/meshbuffer.js"></script>	
	<script type="text/javascript" src="copperlichtdata/script/mesh.js"></script>	
	<script type="text/javascript" src="copperlichtdata/script/skinnedmesh.js"></script>	
	<script type="text/javascript" src="copperlichtdata/script/action.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/texturemanager.js"></script>		
	<script type="text/javascript" src="copperlichtdata/script/binarystream.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/renderer.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/scenenode.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/meshscenenode.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/camerascenenode.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/skyboxscenenode.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/cubescenenode.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/billboardscenenode.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/particlesystemscenenode.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/lightscenenode.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/pathscenenode.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/overlay2dscenenode.js"></script>	
	<script type="text/javascript" src="copperlichtdata/script/mobile2dinputnode.js"></script>			
	<script type="text/javascript" src="copperlichtdata/script/hotspotscenenode.js"></script>	
	<script type="text/javascript" src="copperlichtdata/script/watersurfacescenenode.js"></script>	
	<script type="text/javascript" src="copperlichtdata/script/animatedmeshscenenode.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/animator.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/animatorcamerafps.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/animatorcameramodelviewer.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/animatorfollowpath.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/animatorflycircle.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/animatorflystraight.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/animatorrotation.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/animatoranimatetexture.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/animatoronclick.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/animatoronmove.js"></script>		
	<script type="text/javascript" src="copperlichtdata/script/animatoroncollide.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/animatorcollisionresponse.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/animatorscoppercubeprivate.js"></script>		
	<script type="text/javascript" src="copperlichtdata/script/flace.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/flacescene.js"></script>	
	<script type="text/javascript" src="copperlichtdata/script/flacepanoramascene.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/flacefree3dscene.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/flaceloader.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/scriptinginterface.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/flacedocument.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/base64.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/triangleselector.js"></script>	
	<script type="text/javascript" src="copperlichtdata/script/soundmanager.js"></script>	
	<script type="text/javascript" src="copperlichtdata/script/soundscenenode.js"></script>			
	<script type="text/javascript" src="copperlichtdata/script/jsinflate.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/publicsymbols.js"></script>
	<!--Extern-->
	<script type="text/javascript" src="copperlichtdata/script/externs/filesaver.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/externs/renderstate.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/externs/colormatrix.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/externs/simplemesh.js"></script>
	<!--WASM-->
	<script type="text/javascript" src="copperlichtdata/script/wasm/fmodstudioL.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/wasm/effekseer.min.js"></script>
	<script type="text/javascript" src="copperlichtdata/script/wasm/dist/index.js"></script>
	<script type="text/javascript" async src="copperlichtdata/script/wasm/dist/creaturepack.js"></script>
	<!--Module-->
	<script type="text/javascript" src="copperlichtdata/script/module/globalnamespace.js"></script>
	<script type="module" src="copperlichtdata/script/module/global.mjs"></script>
</head>
<body>
	<div align="center">
		<canvas id="video" style="position: fixed; left: 0; right: 0; top: 0; bottom: 0; pointer-events: none; opacity: 0;"></canvas>
		<canvas id="3darea"></canvas>
	</div>
	<script type="text/javascript">
		// CL3D
		var canvas = '3darea';
		var file = 'copperlichtdata/dialoguetest_3d.ccbz';
		var loading = '\
		Loading $PROGRESS$...<br/><br/>\
		<img style="max-width:50%" src="copperlichtdata/coppercubeloadinglogo.png" />';
		var error = '\
		Error: This browser does not support WebGL (or it is disabled).<br/>\
		See <a href=\"http://www.ambiera.com/copperlicht/browsersupport.html\">here</a> for details.';
		
		CL3D.engine = startCopperLichtFromFile(canvas, file, loading, error, true, true, "#000000");
		
		// Wasmoon
		var Wasmoon = {};
		Wasmoon.getFactory = function(env)
		{
			return new wasmoon.LuaFactory(undefined, env);
		}

		// FMOD
		var FMOD = {};
		FMOD.core = null;
		FMOD.system = null;
		FMOD['INITIAL_MEMORY'] = 64*1024*1024;

		FMOD.onRuntimeInitialized = function()
		{
			fmodMain();
		};

		// Simple error checking function for all FMOD return values.
		FMOD.CHECK_RESULT = function(result)
		{
			if (result != FMOD.OK)
			{
				var msg = "Error!!! '" + FMOD.ErrorString(result) + "'";

				alert(msg);

				throw msg;
			}
		}

		FMOD.prerun = function()
		{
			var fileUrl = "/copperlichtdata/sound/bank/";
			var fileName;
			var folderName = "/";
			var canRead = true;
			var canWrite = false;

			fileName =
			[
				"Dialogue_CN.bank",
				"Dialogue_EN.bank",
				"Dialogue_JP.bank",
			];

			for (var count = 0; count < fileName.length; count++)
				FMOD.FS_createPreloadedFile(folderName, fileName[count], fileUrl + fileName[count], canRead, canWrite);
		};
		FMODModule(FMOD);

		function fmodMain()
		{
			// A temporary empty object to hold our FMOD.system
			var outObj = {};
			var result;

			console.log("Creating FMOD System object\n");

			// Create the FMOD.system and check the result
			result = FMOD.Studio_System_Create(outObj);
			FMOD.CHECK_RESULT(result);

			console.log("grabbing FMOD.system object from temporary and storing it\n");

		    // Take out our System object
			FMOD.system = outObj.val;

			result = FMOD.system.getCoreSystem(outObj);
			FMOD.CHECK_RESULT(result);

		    FMOD.core = outObj.val;

			// Optional.  Setting DSP Buffer size can affect latency and stability.
			// Processing is currently done in the main thread so anything lower than 2048 samples can cause stuttering on some devices.
			console.log("set DSP Buffer size.\n");
			result = FMOD.core.setDSPBufferSize(2048, 2);
			FMOD.CHECK_RESULT(result);

			// Optional.  Set sample rate of mixer to be the same as the OS output rate.
			// This can save CPU time and latency by avoiding the automatic insertion of a resampler at the output stage.
			// console.log("Set mixer sample rate");
			// result = gSystemCore.getDriverInfo(0, null, null, outObj, null, null);
			// FMOD.CHECK_RESULT(result);
			// result = gSystemCore.setSoftwareFormat(outObj.val, FMOD.SPEAKERMODE_DEFAULT, 0)
			// FMOD.CHECK_RESULT(result);

			console.log("initialize FMOD\n");

			// 1024 virtual channels
			result = FMOD.system.initialize(1024, FMOD.STUDIO_INIT_NORMAL, FMOD.INIT_NORMAL, null);
			FMOD.CHECK_RESULT(result);

			// Starting up your typical JavaScript application loop
			console.log("initialize Application\n");

			(function fmodLoop()
			{
				requestAnimationFrame(fmodLoop);
			})();

			return FMOD.OK;
		};

		// Creature
		var CreatureModule = {};
		CreatureModule.packageMgr = null;

		CreatureModule.loadFile = function(filePath, callback)
		{
			var xhr = new XMLHttpRequest();
			xhr.onload = function () { return callback(this.response); };
			xhr.open("GET", filePath, true);
			xhr.responseType = "arraybuffer";
			xhr.send();
		};

		CreatureModule.heapBytes = function(wasmModule, typedArray)
		{
			var numBytes = typedArray.length * typedArray.BYTES_PER_ELEMENT;
			var ptr = wasmModule._malloc(numBytes);
			var heapBytes = new Uint8Array(wasmModule.HEAPU8.buffer, ptr, numBytes);
			heapBytes.set(new Uint8Array(typedArray.buffer));
			return heapBytes;
		};

		CreatureModule.onRuntimeInitialized = function()
		{
			CreatureMain();
		};

		function CreatureMain()
		{
			CreatureModule.packageMgr = new CreatureModule.PackManager();
			console.log("initialize Creature\n");
		};

		// Effekseer
		var EFK = {};
		EFK.context = null;
		effekseer.initRuntime('copperlichtdata/script/wasm/effekseer.wasm', () =>
		{
			effekseerMain();
		});

		function effekseerMain()
		{
			// var canvas = document.getElementById("effect");
			// var gl = canvas.getContext("webgl2");
			var gl = CL3D.engine.getRenderer().getWebGL();

			EFK.context = effekseer.createContext();
			EFK.context.init(gl);

			// Load effect data
			EFK["ToonHit"] = EFK.context.loadEffect("copperlichtdata/effect/sample/ToonHit.efkefc", 1.0, () =>
			{
				// Play the loaded effect
				var handle = EFK["ToonHit"]["handle"] = EFK.context.play(EFK["ToonHit"]);
				
				// Change a position
				handle.setLocation(10.0, 0.0, 30.0);
				handle.setRotation(0,0,0);
			});

			// fast rendering by skipping state fetching.
			// If there is a problem with the drawing, please set this flag to false.
			EFK.context.setRestorationOfStatesFlag(false);

			CL3D.engine.OnAfterDrawAll = function()
			{
				if(EFK.hasOwnProperty('ToonHit'))
				{
					if(EFK["ToonHit"].hasOwnProperty('handle'))
					{
						if(!EFK["ToonHit"]["handle"].exists)
						{
							var handle = EFK["ToonHit"]["handle"] = EFK.context.play(EFK["ToonHit"]);

							handle.setLocation(10.0, 0.0, 30.0);
							handle.setRotation(0,0,0);
						}
					}
				}

				// Effekseer Update
				EFK.context.update(0.016 * 60.0);

				// Rendering Settings
				if(CL3D.engine.getScene().getActiveCamera() != null)
				{
					var camera = CL3D.engine.getScene().getActiveCamera();
					EFK.context.setProjectionMatrix(camera.Projection.asArray());
					EFK.context.setCameraMatrix(camera.ViewMatrix.asArray());
				}

				// Effekseer Rendering
				EFK.context.draw();

				// Viewport Resize
				// if (EFK.width != canvas.width || EFK.height != canvas.height)
				// {
				// 	EFK.width = canvas.width;
				// 	EFK.height = canvas.height;
					
				// 	gl.viewport(0, 0, EFK.width, EFK.height);
				// }
			};
		};
	</script>
	<br/>
	<div align="center">
		<small>Created using <a href="http://www.ambiera.com/coppercube/index.html">CopperCube</a></small>
	</div>
</body>
</html>